h1 {
  color: blue;
  margin-bottom: 25px;
}

ul {
  list-style-type: none;
  color: #70757a;
  display: inline-block;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

form{
  margin-bottom:10px;
}

img{
  font-size:5px;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 10px;
}

.view {
  border: 2px solid;
  border-radius: 10px;
  padding: 30px 30px;
}

.temp {
  font-size: 25px;

}

.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  bottom: 32px;
  display:inline-block;
}

.info {
  margin: px;
}

.days {
  margin: 25px 0px;
  padding: 20px;
}

.form-size {
  width: 50%;
  display:inline;
  margin-right: 25px;
}

.search{
  margin-right: 15px;
}

.weather-temperature .units button{
  border:0px;
  background-color: transparent;
  color: blue;
  transition:all ease-in-out 200ms;

}

.weather-temperature .units button:hover{
  color:black;
 
}