h1 {
  color: blue;
  margin-bottom: 25px;
}

ul {
  list-style-type: none;
  color: #70757a;
  display: inline-block;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

form {
  margin-bottom: 10px;
}

img {
  font-size: 5px;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 10px;
}

.view {
  border: 2px solid;
  border-radius: 10px;
  padding: 30px 30px;
}

.temp {
  font-size: 25px;
}

.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
  margin-right: 8px;
}
.weather-temperature .units {
  position: relative;
  bottom: 30px;
  font-size: 12px;
  
}

.info {
  margin: px;
}

.days {
  margin: 25px 0px;
  padding: 20px;
}

.form-size {
  width: 50%;
  display: inline;
  margin-right: 25px;
}

.search {
  margin-right: 15px;
}

.weather-temperature .units .active{
  color:black;
  text-decoration: none;
}

.weather-temperature .units .active:hover{
  cursor:default;
}

.weather-forecast{
  text-align:center;
}

.weather-temperature-date{
  font-size:16px;  
  opacity:0.6;
  margin-top:20px;
}

.icon-day{
  text-align:center;
}
.weather-range{
  font-size:13px;
}


.weather-temperature-min{
  opacity:0.6;
}